<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surah <%= c %></title>
    <link rel="stylesheet" href="/surah.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>


  <div class="headerContainer">
    <div class="topContent">
      <div class="container-namaSurah">
     <h1 id="animation" onclick="location.href='/surah'">SyafQuran</h1>
     <h1 id="nama-surah"><%= c %></h1>
    </div>
     <div class="listContent">
       <div class="buttonShow" onclick="button()"><i class='bx bxs-down-arrow ' id="rotate"></i></div>
       <ul id="ul">
         <li onclick="location.href='/tafsir'">Tafsir</li>
         <li onclick="location.href='/Doakeseharian'">Doa Keseharian</li>
         <li onclick="location.href='/surah'">Home</li>
       </ul>
     </div>
    </div>
 </div>
   