<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tafsir</title>
    <link rel="stylesheet" href="/tafsirIndex.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 

  <div class="headerContainer">
     <div class="topContent">
      <h1 id="animation" onclick="location.href='/tafsir'">SyafTafsir</h1>
      <div class="listContent">
        <div class="buttonShow" onclick="button()"><i class='bx bxs-down-arrow ' id="rotate"></i></div>
        <ul id="ul">
          <li onclick="location.href = '/surah'">Quran</li>
          <li onclick="location.href='/doaKeseharian'">Doa Keseharian</li>
          <li onclick="feedBack()">FeedBack</li>
          
        </ul>
      </div>
     </div>
     <div class="centerContent">       
        <img src="/quran3.png" alt="" srcset="">
     </div>
  </div>
    
  <div class="containerForm">
    <form method="get">
      <input type="text" placeholder="Search Surah" name="search">

       
        <button type="submit" class="buttonSearch">
          <i class='bx bx-search-alt-2'></i>
        </button>

      
    </form>
  </div>

