<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dataKosong.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-alert">
       <h1>Data yang anda kirim kosong atau ada salah satu yang kosong</h1>
       <h2>Back to home</h2>
       <a href="<%= url %>"><%= str %></a>
    </div>
</body>
</html>