@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body {
    background-color: #f0efed;

 }
 


.container {
    margin-top: 50px;
    font-family: 'Roboto Condense', sans-serif;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.container .box {
  position: relative;
  left: 100%;
  width: 70%;
  height : max-content;
  background-color: white;
  padding: 50px;
  border: rgb(176,224,230) 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: all ease 1s;
}

.container .box div:nth-child(1) {
    font-weight: bold;
    font-size: x-large;
}

.container .box div:nth-child(2) {
    font-size: x-large;
    font-weight: medium;
}

.container .box div {
    padding: 10px;
}


.headerContainer {
    color: white;
    font-size: large;
    width: 100%;
    height: 50px;
    background-color: rgb(176,224,230);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 
 }
 
 
 
 
 .headerContainer .topContent {
    color: black;
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
 }
 

 
 .headerContainer .topContent  h1 span {
  display: inline-block;
  transition: transform 1s ease;
 }
 .headerContainer .topContent  h1 span:hover {
    transform: translateY(-10px);
 }
 
 
 .headerContainer .topContent .listContent .buttonShow {
    z-index: 1;
    transition: transform 1s ease;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid rgb(176,224,230) ;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .headerContainer .topContent .listContent .buttonShow .bxs-down-arrow {
    transition: transform 1s ease;
    transform: rotate(45deg);
 }
 
 .headerContainer .topContent .listContent {
    z-index: 2;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
 }
 
 .headerContainer .topContent  .listContent ul { 

    transition: width  1s ease, height 1s ease;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    top: 5px;
    right: 5px;
    position: absolute;
     background-color: rgb(176,224,230);
    width: 0px;
    height: 0px;
    z-index: 0;
 }
 
 .headerContainer .topContent .listContent ul li {
    overflow: hidden;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    width: 80%;
    transition: transform 1s ease;
    cursor: pointer;
    background-color: white;
 }
 
 .headerContainer .topContent .listContent ul li:hover {
    transform: translateY(-5px);
 }

 .headerContainer .topContent #animation  {
    margin-left: 30px;
    display: inline;
    width: 300px;
 }
 

 .buttonShow.animation {
    transform: translate3d(-285px, 80px, 0);
 }
 
 
 
 
 #ul.show {
    width: 300px;
    border: 3px solid white;
    height: 100px;
 }
 
 
 
 #rotate.change {
    transform: rotate(225deg);
 }



 .up {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(176,224,230);
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    font-size: xx-large;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 

 .container .box.right {
   left: 0%;
 }
 
